/* Global variables */

:root{
    --color-primary:#f0f2f5;
    --color-text: #54656f;
    --font-main: Cocogoose;
    --font-text: CocogooseLight;

}

/* Main Settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--color-primary); */
}
@font-face{
    font-family: Cocogoose;
    src: url('../fonts/Cocogoose.ttf');
}

@font-face{
    font-family: CocogoolseLight;
    src: url('../fonts/CocogooseLight.ttf');
}

/* End Main Settings */

.create-form{
    display: flex;
    flex-direction: column;
}