{% extends 'layout/base.html' %}
{% load static %}

{% block 'title' %}{{employee.lastname}}{% endblock 'title' %}


{% block 'content' %}



    <div>
        <h2>{{employee.name}} {{employee.lastname}}</h2>
        <div>
            <h3>Datos Personales</h3>
            <p> Nombre: <span>{{employee.name}}</span></p>
            <p> Apellido: <span>{{employee.lastname}}</span></p>
            <p> Fecha Nacimiento: <span>{{employee.dob}}</span></p>
            <p> DNI: <span>{{employee.dni}}</span></p>
        </div>
        
        <div>
            <h3>Contacto</h3>
            <p>Movil: <span>{{employee.mobile}}</span></p>
            <p>Telefono: <span>{{employee.phone}}</span></p>
            <p>Direccion: <span>{{employee.adress}}</span></p>

        </div>

        <div>
            <h3>Informacion Laboral</h3>
            <p>Legajo: <span>{{employee.id}}</span></p>
            <p>Posicion: <span>{{employee.position}} </span></p>
            <p>Salario: <span>{{employee.salary}}</span></p>
            <p>Lugar de Trabajo: <span>{{employee.place}}</span></p>
            <p>Activo: <span> {% if employee.active %} Si 
                    {% else %}
                     No    
                {% endif %}</span></p>
        </div>

    </div>


    <a href="{% url 'employees' %}">Atras</a> 
    <a href="{% url 'salary' employee.id %}">Salario</a>

{% endblock 'content' %}




